*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30%;
    min-width: 330px;
    text-align: center;
}
h4 {
    text-transform: capitalize;
    margin: 20px 0;
}
p .big{
    font-weight: bold;
    text-transform: uppercase;
}

.bottone {
    padding: 5px 15px;
    text-transform: capitalize;
    margin-top: 20px;
}