/* COMMONS  */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.hide {
    display: none;
}
.show{
    display: block;
}
.show-f{
    display: flex;
}
.show-i{
    display: inline-block;
}
.show-slow{
    animation: slow 1.5s ease-in-out 1;
}
.show-slow-scale{
    animation: scaled 1.5s ease-in-out 1;
}
.show-slow-scale-fast{
    animation: scaled 0.8s linear 1;
}
@keyframes slow {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100%{opacity: 1;}
}
@keyframes scaled {
    0% {transform: scale(0);opacity: 0;}
    30% {opacity: 0;}
    80% {transform: scale(1.1);opacity: 1;}
    100%{transform: scale(1);}
}
/* FINE COMMONS    */
section {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.over-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,0,0,0.6);
    width: 100%;
    padding: 50px 0;
}
.box-image {
    width: 90%;
    max-width: 300px;
}
.box-image img{
    width: 100%;
}
.container{
    width: 30%;
    min-width: 330px;
    text-align: center;
    line-height: 25px;
    font-family: 'Baloo Tammudu 2', cursive;
}
h4 {
    text-transform: capitalize;
    margin: 20px 0;
    height: auto;
}
p {
    height: auto;
}
p .big{
    font-weight: bold;
    text-transform: uppercase;
}
.box-risultato {
    margin: 20px 0;
}
#risultato {
    margin: 10px 0;
}
.bottone {
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 20px 1vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.buttons {
    padding: 10px;
}
.buttons h3 {
    margin: 10px 0;
}

/* HOVER  */
.bottone:hover {
    cursor: pointer;
    transform: scale(1.1);
}